/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --text-color: #242424;
  --body-color: #ffffff;
  --color-1: #1678cb;
  --color-2: #3b8bea;
  --color-3: #68d6f5;

  /*========== Font and typography ==========*/
  --body-font: "Urbanist", sans-serif;

  /* ==== Font Size ====*/
  --h1-font-size: 48px;
  --h2-font-size: 32px;
  --h3-font-size: 20px;
  --normal-font-size: 16px;
  --small-font-size: 12px;

  /*========== Font weight ==========*/
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
}

/*=============== BASE ===============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-style: normal;
  font-weight: var(--font-normal);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: var(--text-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}
input {
  border: none;
  border-bottom: 1px solid #a4a4a4;
  width: 368px;
  line-height: 19px;
  color: #b4b4b4;
}
input:focus {
  outline: none;
}
/*=============== REUSABLE CSS CLASSES ===============*/

/*=============== BUTTONS ===============*/
.button {
  display: inline-block;
  background-color: var(--color-1);
  color: var(--body-color);
  padding: 15px 20px;
  border-radius: 15px;
  font-weight: var(--font-medium);
  width: 104px;
  height: 49px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* .button:hover {
  background-color: var(--twxt-color);
} */

.button__icon {
  margin-left: 0.5rem;
}

.button--flex {
  display: inline-flex;
  align-items: center;
}
